
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button,strong {
    margin: 0;
    padding: 0;
    list-style: none;
	border:none;
	font-weight:normal;
}

body{
	font-size:16px;
	font-family: 'Microsoft Yahei',Arial,Helvetica,sans-serif;
	color:#000;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	color:#ed531f;
}


.Top{
	width:100%;
	height:30px;
	background:#000;
}

.top{
	width:1200px;
	height:30px;	
	margin:0 auto;
	color:#FFF;
	line-height:30px;
}

.top_L{
	float:left;
}
.top_R{
	float:right;
	width:130px;
	height:30px;
}

.top_R img{
	float:left;
}

.top_R a{
	color:#f49703;
	float:right;
}

.nav_box{
	width:1200px;
	height:100px;
	margin:0 auto;
}

.logo{
	height:0px;
	width:230px;
	padding-top:40px;
	overflow:hidden;
	background:url(/static/img/web/financing_img/LOGO.png) no-repeat ;
	float:left;
	margin-top:36px;
}

.nav{
	width:560px;
	height:40px;
	line-height:40px;
	margin-top:36px;
	float:right;
}


.nav li{
	float:left;
}


.nav li a{
	font-size:18px;
	padding: 0px 25px;
	transition: margin .5s;
	display: inline-block;
}


.Choice{
	border-bottom:5px solid #ed531f ;
}

.Choice a{
	color:#ed531f;
}


.banner {
    background: url(/static/img/web/financing_img/banner.jpg) no-repeat 50%;
    height: 420px
}

.banner1 {
    background: url(/static/img/web/financing_img/banner1.png) no-repeat 50%;
    height: 250px
}

.banner2 {
    background: url(/static/img/web/financing_img/banner2.jpg) no-repeat 50%;
    height: 250px
}


.data{
	width:100%;
	height:150px;
	background:#f5f5f5;
}

.data .data_box{
	width:1200px;
	height:150px;
	margin:0 auto;
}


.function{
	width:1200px;
	height:300px;
	margin:0 auto;
	padding-top:100px;
}


.merit{
	width:100%;
	height:670px;
	background:#f5f5f5;
	overflow:hidden;
	
}

.header{
	width:1200px;
	height:60px;
	line-height:60px;
	margin:20px auto;
	border-bottom:1px solid #bfbfbf;
	font-size:18px;
}

.header .su{
	margin:10px 20px 10px 0px;
	height:40px;
	width:5px;
	background:#ed531f;
	display:inline-block;
	float:left;
}

.header .more{
	margin-top:20px;
	height:26px;
	width:72px;
	background:url(/static/img/web/financing_img/more.png);
	display:inline-block;
	float:right;
}


.merit_con{
	margin-top:100px;
	background: url(/static/img/web/financing_img/bg.png) no-repeat 50%;
    height: 400px;
	
}


.product_box{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:20px;

}


.product{
	width:1230px;
}

.product li{
	width:356px;
	height:320px;
	margin:20px 30px 20px 0px;
	float:left;
	border-radius: 20px;
	box-shadow:0px 10px 5px #dad7d7;
	border:2px solid #f5f5f5;
	padding:10px;
}

.product li:hover{
	border:2px solid #ed531f;
}

.comy_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
	border-bottom: 1px dashed #c9c9c9;
	text-align: center \9;
}


.comy_con{
	padding:15px;


}

.comy_con div{
	height:30px;
	line-height:30px;
	display: flex;
	align-items: center;
}

.comy_con .S_r{
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.comy_but{
	display: block;
	width: 178px;
	height: 44px;
	line-height: 44px;
	background: #ed531f;
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	border-radius: 5px;
	cursor:pointer;
}

.comy_but:hover{
	color:#FFF;
	background:#fc7f55;
}


.company{
	width:1160px;
	margin:0 auto;
	height:240px;
	padding:20px;
}

.company .comy_img{
	width:28%;
	float:left;	
	margin-top:20px;
}

.company .comy_img img{
	width:320px;

}

.company .comy_right{
	width:70%;
	height:210px;
	float:right;
	line-height:30px;
}

.company .comy_right .hcjf{
	width:100%;
	height:30px;
	font-weight:bold;
	color:#ed531f;
}


.flow{
	width:100%;
	height:500px;
	background:#394052;
	overflow:hidden;
}

/*翻页导航*/
.fot{ 
	width:1200px; 
	height:80px; 
	margin:0 auto;  
	overflow:hidden;
}

.leftBtn,.rightBtn { 
	width: 60px; 
	height: 30px;  
	border:#b1b1b1 1px solid; 
	line-height:30px; 
	text-align: center; 
	display:inline-block; 
	float:left; 
	margin-right:5px;
}

.Scroll{  
	height:35px; 
	float:right; 
	padding-top:15px;  
}

.Scroll ol{ 
	float:left;
}

.Scroll ol li { 
	padding:0 10px; 
	height: 30px; 
	line-height: 30px; 
	text-align: center; 
	border:#b1b1b1 1px solid; 
	float:left; 
	margin: 0 5px 0 0; 
	cursor:pointer; 
}

.Scroll ol .current { 
	background: #ed531f; 
}

.Scroll span{ 
	margin:0 5px; 
	float:left; 
	line-height:30px;
}

.Scroll .num {
    width: 30px;
    height: 30px;
    border: #b1b1b1 1px solid;
    float: left;
    margin-right: 5px;
    text-indent: 8px;
}

.Scroll button {
    width: 32px;
    height: 32px;
    background: #ed531f;
    border: none;
    float: left;
	cursor:pointer;
	color:#FFF;
	border-radius: 5px;
}




/*弹窗*/

.pop-by {
    background: url(/static/img/web/financing_img/60-sha.png) repeat;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    display: none
}

.pop-mnc {
    width: 500px;
    height: 470px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 20%;
    margin-left: -210px;
    background:#FFF ;
    display: none;
	border-radius: 10px;
	box-shadow: 0px 1px 20px #3b3b3b
}

.pop-tt {
    font-size:36px;
    width: 500px;
    height: 73px;
	text-align:center;
	line-height:73px;
}



.pop-hide {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(/static/img/web/financing_img/close1.png) no-repeat center;
    width: 25px;
    height: 25px;
	cursor:pointer;
	
}



.pop-form li {
    padding-left: 30px;
    height: 44px;
    margin: 30px 0
}


.pop-inp {
    outline: none;
    padding: 0;
    font-size: 14px;
    color: #fff;
    text-indent: 1em;
    font-family: Arial,'Microsoft YaHei';
    border: 1px solid #dadada;
    padding-left: 40px;
}


.name-tip {
    clear: both;
    line-height: 25px;
    height: 25px;
    color: red;
    font-size: 12px;
	margin-left:100px;
}
.phone-tip {
    clear: both;
    line-height: 25px;
    height: 25px;
    color: red;
    font-size: 12px;
	margin-left:100px;
}


#yuyue_name {
    width: 310px;
    line-height: 44px;
    border: 0;
    outline: none;
    height: 38px;
    padding: 0;
    font-size: 16px;
    color: #000;
    text-indent: 1em;
    font-family: Arial,'Microsoft YaHei';
    border: 1px solid #000;
}

#yuyue_phone {
    width: 310px;
    line-height: 44px;
    border: 0;
    outline: none;
    height: 38px;
    padding: 0;
    font-size: 16px;
    color: #000;
    text-indent: 1em;
    font-family: Arial,'Microsoft YaHei';
    border: 1px solid #000;
}

#yuyue_subject {
    width: 310px;
    line-height: 44px;
    border: 0;
    outline: none;
    height: 38px;
    padding: 0;
    font-size: 16px;
    color: #000;
    text-indent: 1em;
    font-family: Arial,'Microsoft YaHei';
    border: 1px solid #000;
}

#yuyue_des{
    width: 310px;
    line-height: 44px;
    border: 0;
    outline: none;
    height: 38px;
    padding: 0;
    font-size: 16px;
    color: #000;
    text-indent: 1em;
    font-family: Arial,'Microsoft YaHei';
    border: 1px solid #000;
}

#trust_ProductCenter_Search .trust_ProductCenter_Search_Condition .trust_ProductCenter_Search_ul ul li {
   list-style: none;
float: left;
margin-left: 30px;
margin-top: 4px;
border-radius: 5px;
cursor: pointer;
}
#trust_ProductCenter_Search .trust_ProductCenter_Search_Condition .trust_ProductCenter_Search_bg_over {

    background: #f49703;
    padding: 0px 10px;
    color: #fff;

}
#trust_ProductCenter_Search .trust_ProductCenter_Search_Condition .trust_ProductCenter_Search_bg_over a {

    color: #fff;

}
#trust_ProductCenter_Search .trust_ProductCenter_Search_Condition .trust_ProductCenter_Search_ul ul li {

    cursor: pointer;

}
#trust_ProductCenter_Search .trust_ProductCenter_Search_Condition .trust_ProductCenter_Search_ul {

    padding: 0px 10px;

}
































































