<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinancialplannerappointmentMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into td_financialplannerappointment(
			ID	
		<if test="NAME !=null">
			,NAME
		</if>
		<if test="PHONE !=null">
			,PHONE
		</if>
		<if test="COMMENTS !=null">
			,COMMENTS
		</if>
		<if test="FINANCIALPLANNERID !=null">
			,FINANCIALPLANNERID
		</if>
		<if test="CTDATE !=null">
			,CTDATE
		</if>
		<if test="UPDATE !=null">
			,UPDATE
		</if>
		<if test="STATUS !=null">
			,STATUS
		</if>
		) values (
			#{ID}
			<if test="NAME !=null">
			,#{NAME}
			</if>
			<if test="PHONE !=null">
			,#{PHONE}
			</if>
			<if test="COMMENTS !=null">
			,#{COMMENTS}
			</if>
			<if test="FINANCIALPLANNERID !=null">
			,#{FINANCIALPLANNERID}
			</if>
			<if test="CTDATE !=null">
			,#{CTDATE}
			</if>
			<if test="UPDATE !=null">
			,#{UPDATE}
			</if>
			<if test="STATUS !=null">
			,#{STATUS}
			</if>
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from td_financialplannerappointment
		where 
			ID = #{ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  td_financialplannerappointment a
		<set>
			<if test="NAME != null">
				a.NAME = #{NAME},
			</if>
			<if test="PHONE != null">
				a.PHONE = #{PHONE},
			</if>
			<if test="COMMENTS != null">
				a.COMMENTS = #{COMMENTS},
			</if>
			<if test="FINANCIALPLANNERID != null">
				a.FINANCIALPLANNERID = #{FINANCIALPLANNERID},
			</if>
			<if test="CTDATE != null">
				a.CTDATE = #{CTDATE},
			</if>
			<if test="UPDATE != null">
				a.UPDATE = #{UPDATE},
			</if>
			<if test="STATUS != null">
				a.STATUS = #{STATUS},
			</if>
		</set>
			where 
				a.ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.ID,
			a.NAME,
			a.PHONE,
			a.COMMENTS,
			a.FINANCIALPLANNERID,
			a.CTDATE,
			a.UPDATE,
			a.STATUS
		from 
			td_financialplannerappointment a
		where 1 = 1 
			and a.ID = #{ID}
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByParam" parameterType="pd" resultType="pd">
		select 
			a.ID,
			a.NAME,
			a.PHONE,
			a.COMMENTS,
			a.FINANCIALPLANNERID,
			a.CTDATE,
			a.UPDATE,
			a.STATUS
		from 
			td_financialplannerappointment a 
			where 1=1
			<if test="ID != null and ID != ''">
				and a.ID = #{ID}
			</if>
			<if test="NAME != null and NAME != ''">
				and a.NAME = #{NAME}
			</if>
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.ID,
			a.NAME,
			a.PHONE,
			a.COMMENTS,
			a.FINANCIALPLANNERID,
			a.CTDATE,
			a.UPDATE,
			a.STATUS,
			b.NAME FINANCIALPLANNERNAME
		from 
			td_financialplannerappointment a 
			left join td_financialplanner b on a.FINANCIALPLANNERID = b.ID 
			where 1=1
			<if test="pd.STATUS != null and pd.STATUS != ''">
				and a.STATUS = #{pd.STATUS}
			</if>
			order by a.CTDATE DESC
	</select>
	
	<!-- 列表 -->
	<select id="applistPage" parameterType="page" resultType="pd">
		select
			a.ID,
			a.NAME,
			a.PHONE,
			a.COMMENTS,
			a.FINANCIALPLANNERID,
			a.CTDATE,
			a.UPDATE,
			a.STATUS
		from 
			td_financialplannerappointment a 
			where 1=1
			order by a.CTDATE DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
			a.ID,
			a.NAME,
			a.PHONE,
			a.COMMENTS,
			a.FINANCIALPLANNERID,
			a.CTDATE,
			a.UPDATE,
			a.STATUS
		from 
			td_financialplannerappointment a 
			where 1=1
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from td_financialplannerappointment
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>